In [1]:
a="python"
print(a)

python

In [2]:
a="hello world"
a

'hello world'

In [62]:
a=10 
b=3 
print("addition of a:",a,"&b:",b,"is:",a+b) 
print("substrac of a:",a,"&b:",b,"is:",a-b) 
print("multipli of a:",a,"&b:",b,"is:",a*b) 
print("division of a:",a,"&b:",b,"is:",a/b) 
print("floordiv of a:",a,"&b:",b,"is:",a//b) 
print("moduli   of a:",a,"&b:",b,"is:",a%b) 
print("exponent of a:",a,"&b:",b,"is:",a**b)

addition of a: 10 &b: 3 is: 13
substrac of a: 10 &b: 3 is: 7
multipli of a: 10 &b: 3 is: 30
division of a: 10 &b: 3 is: 3.3333333333333335
floordiv of a: 10 &b: 3 is: 3
moduli   of a: 10 &b: 3 is: 1
exponent of a: 10 &b: 3 is: 1000

In [10]:
#Python datatypes

h="hai"#string
i=2
j='False'#boolean
aa=0.5 #float
c
print(i,type(i))
print(j,type(b))
print(aa,type(aa))
f=1+3j
print(f,type(f)) #complex

2 <class 'int'>
False <class 'int'>
0.5 <class 'float'>
(1+3j) <class 'complex'>

In [11]:
a=["a","1","0.01"] #list
print(a,type(a))
c=("a","1","0.01") #tuple
print(c,type(c))
b={"a","1","0.01"} #set
print(b,type(b))
e={"fruit":"mango","vegetable":"carrot"}# dictinoary
print(e,type(e))

['a', '1', '0.01'] <class 'list'>
('a', '1', '0.01') <class 'tuple'>
{'1', 'a', '0.01'} <class 'set'>
{'fruit': 'mango', 'vegetable': 'carrot'} <class 'dict'>

In [12]:
a=20
b=30
print(a+b)

50

In [15]:
a="hello"
b="world"
print(a+b)

helloworld

In [21]:
#type casting
a="50" # string to int
b=int(a)
print(b)
c=800.0 #float to int
d=int(c)
print(d)

50
800

In [22]:
#To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

In [25]:
#STRING SLICING
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])
#Get the characters from the start to position 5 (not included):
print(b[:5])
#From: "o" in "World!" (position -5) To, but not included: "d" in "World!" (position -2):
print(b[-5:-2])

llo
Hello
orl

In [26]:
#string operations
#The upper() method returns the string in upper case:
a = "Hello, World!"
print(a.upper())
#The lower() method returns the string in lower case:
print(a.lower())
#The strip() method removes any whitespace from the beginning or the end:
print(a.strip()) # returns "Hello, World!"
#The split() method splits the string into substrings if it finds instances of the separator:
print(a.split(",")) # returns ['Hello', ' World!']

HELLO, WORLD!
hello, world!
Hello, World!
['Hello', ' World!']

In [27]:
#Use the format() method to insert numbers into strings:

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [28]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [29]:
#The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [63]:
#program to create, concatenate and print a string and accessing sub-string from a given string
pi=3.14 
s= "Venkata" 
v= "Subhramanyam" 
print("the value of s is:",s) 
print("the value of v is:",v) 
string_add = s+v 
print("after concatenating s and v the string is:",s+v) 
text = 'The value of pi is ' + str(pi) 
print("NOTE: variables after '+' operator must be converted to string before using them as strings\n otherwise value will be considered as its class type") 
print(text)

the value of s is: Venkata
the value of v is: Subhramanyam
after concatenating s and v the string is: VenkataSubhramanyam
NOTE: variables after '+' operator must be converted to string before using them as strings
 otherwise value will be considered as its class type
The value of pi is 3.14

In [40]:
#tuples
c = ("appu", "bashi", "cherry","mani","messi")
print(c)
print(len(c))
print(type(c))
print(c[1]) #Print the second item in the tuple:
#Print the last item of the tuple:
print(c[-1])
#Return the third, fourth, and fifth item:
print(c[2:5])
#You cannot add items to a tuple:
#c.append("honey") # This will raise an error
print(c)

('appu', 'bashi', 'cherry', 'mani', 'messi')
5
<class 'tuple'>
bashi
messi
('cherry', 'mani', 'messi')
('appu', 'bashi', 'cherry', 'mani', 'messi')

In [45]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [66]:
# creating a dictionary for SIIET
college = {"name": "siiet","code": "INDI","id": "x3"} 
print(college) 
#adding items to dictionary 
college["location"] = "IBP"
print(college)
 #changing values of a key 
college["location"] = "sheriguda" 
print(college) 
# to remove items use pop() 
college.pop("code") 
print(college) 
#know the length usig len() 
print("length of college is:",len(college)) 
#to copy the same dictionary use copy() 
my_college= college.copy()
print(my_college)

{'name': 'siiet', 'code': 'INDI', 'id': 'x3'}
{'name': 'siiet', 'code': 'INDI', 'id': 'x3', 'location': 'IBP'}
{'name': 'siiet', 'code': 'INDI', 'id': 'x3', 'location': 'sheriguda'}
{'name': 'siiet', 'id': 'x3', 'location': 'sheriguda'}
length of college is: 3
{'name': 'siiet', 'id': 'x3', 'location': 'sheriguda'}

In [47]:
#list methods

list=["Asia","Africa","Europe"]
list.append("Australia")#adds the element at the end
print(list)
print("---------------")

list.insert(1,"America")#inserts the element at the specifies position
print(list)
print("---------------")

list2=["Antarctica"]
list.extend(list2)#aappends a list2 to list  
print(list)
print("---------------")

list.remove("Antarctica")#remove the specified element
print(list)
print("---------------")

list.pop()#deletes the last element
print(list)
print("---------------")

['Asia', 'Africa', 'Europe', 'Australia']
---------------
['Asia', 'America', 'Africa', 'Europe', 'Australia']
---------------
['Asia', 'America', 'Africa', 'Europe', 'Australia', 'Antarctica']
---------------
['Asia', 'America', 'Africa', 'Europe', 'Australia']
---------------
['Asia', 'America', 'Africa', 'Europe']
---------------

In [65]:
# creating list with college names.. 
colleges = ["SIIET", "GNIT", "AVN"] 
print(colleges) 
# appending new college in collges list 
colleges.append("MVSR") #checking if its added or not
print(colleges) 
#adding a new college at a positon
colleges.insert(1,"BHARAT")
print(colleges) 
#remove a name from colleges 
colleges.remove("BHARAT")
print(colleges) 
#remove a name with an index value 
del colleges[1] 
# NOTE: index starts from 0 so 2nd value in list will be removed 
print(colleges)

['SIIET', 'GNIT', 'AVN']
['SIIET', 'GNIT', 'AVN', 'MVSR']
['SIIET', 'BHARAT', 'GNIT', 'AVN', 'MVSR']
['SIIET', 'GNIT', 'AVN', 'MVSR']
['SIIET', 'AVN', 'MVSR']

In [57]:
#Create a Set:

thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [43]:
sec_to_hr = 1/3600 # 3600 seconds in 1 hour
min_to_hr = 1/60 # 60 minutes in 1 hour
km_to_miles = 0.62 # 0.62 miles in 1 kilometer

time_hrs = 0+ (42*min_to_hr)+ (42*sec_to_hr) # Total time in hours
dist_miles = 10 * km_to_miles # Total time in miles

av_speed = dist_miles/time_hrs # Average Speed in miles/hour

answer1 = "Average speed = {} miles per hour".format(round(av_speed,2))

print(answer1)

Average speed = 8.71 miles per hour

In [42]:
pace_dist = 1 # In 1 mile

pace_time_hr = round(pace_dist/av_speed, 2)
pace_time_min = round(pace_time_hr * 60, 2)
pace_time_sec = round(pace_time_min % 1,2) * 60

answer2 = "Average pace per mile = {} minutes and {} seconds".format(int(pace_time_min), int(pace_time_sec))
print(answer2)

Average pace per mile = 10 minutes and 48 seconds

In [44]:
for k in range(1,5):
    for l in range(1,k+1):
        print(k,end='')
    print()

1
22
333
4444

In [60]:
#modules in python
#modules are imported which are packages or other files
#import keyword is used

import math
print(math.sqrt(2))
print(math.pi)

1.4142135623730951
3.141592653589793

In [64]:
import time 
import datetime
x = datetime.datetime.now() 
print(x.strftime("%c"))

Wed May 19 18:59:30 2021

In [69]:
# user-defined function to know which number is larger
def bigOf3(a,b,c): 
  if(a>b): 
    if(a>c):
      print("a is greater than b and c") 
    else: 
      print("c is greater than a and b") 
  elif(b>c): 
    print("b is greater than a and c") 
  else:
    print("c is greater than a and b") 
txt= input("enter a,b,c values:") 
a,b,c= txt.split() 
bigOf3(int(a),int(b),int(c)) #calling the function

enter a,b,c values:10 20 30
c is greater than a and b

In [71]:
#python program to print prime numbers less than 20:
n=int(input("enter range of prime numbers:"))
for num in range(2,n+1):  #takes each number 
   count=0 
   for i in range(2,num//2+1):
      #checks the divisibility of each num 
      if(num%i==0): 
        count=count+1 #if its noot prime count increases. 
   if(count==0): 
     print(num)

enter range of prime numbers:20
2
3
5
7
11
13
17
19

In [73]:
def fun(a,b):
  if(a>0 and b>0):
    return fun(-7,10)+fun(b-2,a-1)
  return a+b
print(fun(2,3))

5

In [76]:
class roman_solution: 
  def int_to_Roman(num): 
    val=[1000, 900, 500, 400, 100, 90, 50, 40,10,9, 5, 4, 1] 
    syb=["M","CM","D","CD","C","XC","L","XL","X","IX","V","IV","I"]  
    roman_num="" 
    i=0 
    if(n<1 or n>3999):
      print("ENTER A GOOD VALUE!")
    else: 
      while num > 0: 
        if(num-val[i]>=0): 
          roman_num+=syb[i] 
          num-=val[i] 
        else:
          i+=1 
    return roman_num 
n=int(input("ENTER A NUMBER:")) 
print("roman numeral of given number is:",roman_solution.int_to_Roman(n))

ENTER A NUMBER:100
roman numeral of given number is: C